*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100px;
}
.header ,main,footer{
    margin: 0 8rem;
}
 .navbar{
    background-color: rgb(7, 7, 80) ;
    height: 70px;
    padding: 1.5rem 8rem;
}

 .navbar h2{
    float: left;
    margin-bottom: 50px;
    color: white;
}
.navbar ul{
    float: right;
}

.navbar .item{
    display: inline-block;
    margin: 8px;

}
 .navbar a{
    color: white;
    text-decoration:none;
}
 .navbar a:hover{
    text-decoration: underline;
}
.clearbox{
clear: both;
}
/* styling the original about page */

.header h1{
    border-bottom: 0.3rem solid rgba(245, 12, 51, 0.986);
    margin-bottom: 2rem;
}
.header .list{
    margin: 2rem 8rem 2rem 8rem;
}
.header .list .first{
    float: left;
}
.header .list .second{
    float: right;
}
main{
    text-align: center;
}
main .ele{
    display: inline-block;
    margin: 2rem 4rem 2rem 4rem;
}
main .ele h3{
    color: rgba(245, 12, 51, 0.986);
}
.list li i{
    color:rgba(245, 12, 51, 0.986) ;
}
footer{
    background-color:  rgba(245, 12, 51, 0.986);
    padding: 20px 10px ;
    height: 60px;
    color: white;
    box-shadow:10px 10px 10px pink;
}
footer .left{
    float: left;
}
footer .right{
    float:right;
    border:2px solid white;
    padding: 4px 50px;
    margin:auto

}
footer .right a{
    color: white;
    text-decoration: none;
}






